@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-inputtext {
  border: 1px solid #d1d5db !important; /* Tailwind slate-300 */
  border-radius: 0.375rem; /* rounded-md */
  transition: all 0.2s ease;
}
.p-inputtext:focus {
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.3); /* emerald glow */
  border-color: #10b981; /* emerald-500 */
}
